html, body {
    width: 100%;
    font-family:  sans-serif;
    font-size: 15px;
}

#auth-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

#main-navbar {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.nav-icon a {
    color: #262626;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}
.nav-icon a:hover {
    color: #1d5e72;;
}
#profile-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 1px;
    margin-top: 6em;
}

#user-posts #post-thumb {
    background: #fff;
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
    width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 10px 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

