{% extends "ObservatorioTTApp/base.html" %}

{% load static %}

{% block content %}


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ObservatorioTTApp/img/fondo_observatorio.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Tecnologia educativa</span>
            <span class="section-heading-lower">El futuro es hoy oiste viejo?</span>
          </h2>
          <p class="mb-3">La tecnologia educativa al alcance de un click</p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">La educación es la mejor base</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">En Observatorio Tecnologico ESCOM buscamos tener la mayor comunidad en cuanto al ambito de tecnologia educativa, ofrenciendote los mejores recursos al alcance de un click.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
    